* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}
.wrapper {
    height: 100vh;
    width: 100vw;
}
.contener-left {
    display: inline-block;
    width: 50%;
    padding: 109px;
    margin-top: 5%;

   

}
.contener-right {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 110vh;
    width: 50%;
    position: absolute;
    
    }



.contener-image {
    position: relative;
    top: 5%;
    right: 135px;
}

.contener-text {
    position: absolute;
    right: 10px;

}
.h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 80px;
    color: #3a3a;
    width: 400px;
    

}
.p1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: red;
    margin: 15px 0;
    width: 400px;
}
.button-começo {
    width: 150px;
    height: 60px;
    background: #9d9d9d;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    border: none;
    border-radius: 20px;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    cursor: pointer;

}
.button-começo:hover {
    background: #7a7a7a;
}
.button-começo:active {
    background: #5a5a5a;
}
a {
    font-size: 20px;
    line-height: 50px;
    color: #5D5D7D;
    margin: 41px;
    cursor: pointer;
}
a:nth-child(2) {
    opacity: 0.4;
}
a:hover {
    opacity: 7;
}
a:active {
    opacity: 0.8;
}
header {
    margin: 10px 0 0 5px;
}
.button-final {
     width: 150px;
    height: 60px;
    background: #9d9d9d;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    border: none;
    border-radius: 20px;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    cursor: pointer;


}
.button-final:hover {
    background: #7a7a7a;
}
.button-final:active {
    background: #5a5a5a;
}

    